<!-- Button trigger modal -->
<div class="container mt-3">
    <button type="button" class="btn btn-success alignright" title="add" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-keyboard="false" (click)="addClick()">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
</div>
  <br /><br /><br />
<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th scope="col">Department ID</th>
            <th scope="col">Department Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let department of deplist">
            <td>{{department.departmentId}}</td>
            <td>{{department.departmentName}}</td>
            <td>
                <button type="button" class="btn btn-success" title="edit" data-toggle="modal" data-target="#exampleModal" (click)="editClick(department)">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" title="delete" (click)="deleteClick(department.departmentId)">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="line-spin-fade">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner> 
<!-- Modal -->
